{% if is_paginated %}
<nav class="pagination-wrap" aria-label="Paginación">
    <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% querystring page=page_obj.previous_page_number %}">
                <i class="bi bi-chevron-left"></i>
                Anterior
            </a>
        </li>
        {% endif %}
        <li class="page-item disabled">
            <span class="page-link">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% querystring page=page_obj.next_page_number %}">
                Siguiente
                <i class="bi bi-chevron-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
